body {
    background: crimson;
}

.me {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #e4e4e4;
}

body h2 {
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    color: aqua;
}

.nav {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: black;
}